= form_for(@patient, :url => doctor_patients_path) do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2
        = pluralize(@patient.errors.count, "error")
        prohibited this patient from being saved:
      %ul
        - @patient.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :name, placeholder: 'Name'
  .field
    = f.text_field :phone_number, placeholder: 'Phone Number'
  .field
    = f.text_field :age, placeholder: 'Age'
  .field
    = f.text_field :email, placeholder: 'Email'
  .field
    = f.password_field :password, placeholder: 'Password'
  .field
    = f.password_field :password_confirmation, placeholder: 'Password Confirmation'

  .horiz-divider
  %br

  .subheader Add your insulin pump settings.

  .field
    = f.text_field :insulin_time, placeholder: 'Active Insulin Time'

  / %br
  / %table
  /   %tr
  /     %td Category
  /     %td Time
  /     %td Value
  / = f.fields_for :time_settings do |builder|
  /   = render 'time_settings_fields', f: builder
  / %br
  / = link_to_add_field 'Add new setting', f, :time_settings

  .actions
    = f.submit 'Sign Up', class: 'auth-btn'
  .clear