
.left
  %h1 Patients
  .table-container
    %table
      - @patients.each do |patient|
        %tr{class: "#{'at-risk' if patient.weekly_avg_bg > Reading.at_risk_threshold}"}
          %td=image_tag 'person.png'
          %td=link_to "#{patient.name}, #{patient.age}", doctor_patient_readings_path(@doctor.id, patient.id)
          %td.divider
          %td=image_tag '7dayavg.png'
          %td 7 Day Average BG
          %td= if patient.weekly_avg_bg < 0 then 'N/A' else patient.weekly_avg_bg end
          %td.divider
          %td=image_tag 'monthavg.png'
          %td Month Average BG
          %td= if patient.monthly_avg_bg < 0 then 'N/A' else patient.monthly_avg_bg end
.right
  = link_to 'New Patient', new_doctor_patient_path, class: 'auth-btn add-patient'
  .right-divider

  .sorting
    %h2 Sort
    .sorting-buttons
      = link_to 'Last Name', doctor_patients_path(@doctor.id, sort_by: 'last_name'), class: 'auth-btn'
      = link_to '7-day Avg', doctor_patients_path(@doctor.id, sort_by: 'weekly_average'), class: 'auth-btn'
      = link_to 'Month Avg', doctor_patients_path(@doctor.id, sort_by: 'monthly_average'), class: 'auth-btn'

%br/

