<h1>Listing patients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Carb ratio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.name %></td>
    <td><%= patient.email %></td>
    <td><%= patient.phone_number %></td>
    <td><%= patient.carb_ratio %></td>
    <td>
    <td><%= link_to 'Show', doctor_patient_path(@doctor.id, patient.id) %></td>
    <td><%= link_to 'Edit', edit_doctor_patient_path(@doctor.id, patient.id) %></td>
    <td><%= link_to 'Destroy', doctor_patient_path(@doctor.id, patient.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_doctor_patient_path %>
