<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @patient.phone_number %>
</p>

<p>
  <b>Carb ratio:</b>
  <%= @patient.carb_ratio %>
</p>

