= form_for(@reading, :url => doctor_patient_readings_path(@doctor.id, @patient.id)) do |f|
  - if @reading.errors.any?
    #error_explanation
      %h2
        = pluralize(@reading.errors.count, "error")
        prohibited this reading from being saved:
      %ul
        - @reading.errors.full_messages.each do |msg|
          %li= msg
  / .field
  /   = f.label :read_time
  /   = f.datetime_select :read_time
  .field
    = f.text_field :blood_glucose, placeholder: 'Blood Glucose'
  .field
    = f.text_field :carbs, placeholder: 'Carbs'
  .field
    = f.text_field :insulin, placeholder: 'Insulin'
  .field
    = f.label :exercised, 'Exercised?'
    = f.check_box :exercised, class: 'checkbox'
  / .field
  /   = f.label :notes
  /   = f.text_area :notes
  .actions
    = f.submit 'Submit'
