<h1>Patient Readings</h1>

<table>
  <tr>
    <th>Read Date</th>
    <th>Blood Glucose</th>
    <th>Carbs</th>
    <th>Insulin</th>
    <th>Exercise</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% @readings.each do |reading| %>
  <tr>
    <td><%= reading.name %></td>
    <td><%= reading.email %></td>
    <td><%= reading.phone_number %></td>
    <td><%= reading.carb_ratio %></td>
    <td>
    <td><%= link_to 'Show', doctor_patient_reading_path(@doctor.id, @patient.id, reading.id) %></td>
    <td><%= link_to 'Edit', edit_doctor_patient_reading_path(@doctor.id, @patient.id, reading.id) %></td>
    <td><%= link_to 'Destroy', doctor_patient_reading_path(@doctor.id, @patient.id, reading.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reading', new_doctor_patient_reading_path(@doctor.id, @patient.id) %>
