<!DOCTYPE html>
<html>
<head>
  <title>Mldb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="doctor_signup">
  <% if current_user %>
    Logged In as <%= current_user.id %>.
    <%= link_to "Log out", logout_path %>
    <%= link_to "Patients", doctor_patients_path(current_user.id) %>
  <% else %>
    <%= link_to "Doctor Sign-Up", signup_path %> or
    <%= link_to "Log in", login_path %>
  <% end %>
</div>
<% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end -%>
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>

<%= yield %>

</body>
</html>
